:root {
  /*   color:   */
  --main-color: #2e2539;
  --secondary-color: #fafeff;
  --main-btn-color: #fafeff;
  --border-btn-color: #000;
  --color-choice-darkbg: rgb(100, 190, 255, 0.95);
  --color-choice-lightbg: rgb(100, 190, 255, 0.5);
  --color-shadow: rgb(250, 254, 255, 0.04);

  /*   margin and padding spacing:   */
  --spacing-one: 0.25rem;
  --spacing-two: 0.5rem;
  --spacing-three: 0.75rem;
  --spacing-four: 1rem;
  --spacing-five: 1.25rem;
  --spacing-six: 1.5rem;
  --spacing-seven: 1.75rem;
  --spacing-eight: 2rem;

  /*   font-size:   */
  --font-size-small: 0.8rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.6rem;
}

/*   Genaral global styling and values:   */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

header {
  min-width: 100%;
  min-height: 12vh;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

nav {
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
}

section {
  margin: var(--spacing-four) var(--spacing-four);
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);
}

a {
  all: unset;
  cursor: pointer;
  color: var(--color-choice-darkbg);
}

.flex-container-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.column-center {
  justify-content: center;
}

.btn {
  margin: 2px;
  min-width: 5.5rem;
  font-family: inherit;
  border: none;
  outline: none;
  padding: var(--spacing-one) var(--spacing-four);
  background-color: var(--main-btn-color);
  transition: 0.2s;
}

.btn:hover {
  box-shadow: inset 2px 2px var(--secondary-color),
    inset -2px -2px var(--secondary-color), inset 4px 4px var(--main-color),
    inset -4px -4px var(--main-color),
    inset 0 4rem 0 var(--color-choice-lightbg);
}

/*   App specific styling and values:   */

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.btn-border {
  font-size: var(--font-size-small);
  max-width: calc((100% / 3));
  min-height: 3.4rem;
  padding: var(--spacing-one) var(--spacing-two);
  box-shadow: inset 2px 2px var(--secondary-color),
    inset -2px -2px var(--secondary-color), inset 4px 4px var(--main-color),
    inset -4px -4px var(--main-color);
  border: 2px solid var(--border-btn-color);
  border-radius: 5px;
}

.btn-submit {
  margin: auto;
  margin-bottom: var(--spacing-five);
  min-height: 0;
  max-width: 6rem;
  padding: var(--spacing-two) var(--spacing-four);
}

#info-container {
  margin-top: auto;
  margin-bottom: auto;
  min-height: 10vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#display-question,
#display-alternatives {
  width: 100%;
  background-color: var(--main-color);
  color: var(--secondary-color);
  box-shadow: inset 5px 5px 1px var(--main-color),
    inset -5px -5px 1px var(--main-color),
    inset 7px 7px 1px var(--secondary-color),
    inset -7px -7px 1px var(--secondary-color);
  margin-bottom: 0;
}

/*   Display Alternatives Component   */

#display-alternatives {
  height: 49vh;
  justify-content: flex-start;
  padding: 0 var(--spacing-five);
  margin-top: var(--spacing-one);
}

.scroll-container {
  margin-top: auto;
  overflow: hidden;
  max-height: 50vh;
}

.scroll-wrapper {
  overflow: auto;
  max-height: 36vh;
}

.alternatives {
  margin: var(--spacing-four) 0;
  text-align: center;
  font-size: var(--font-size-medium);
}

/*   Display Question Component   */

#display-question {
  padding: var(--spacing-four);
  font-size: var(--font-size-small);
  justify-content: flex-start;
  margin: auto;
}

#display-question h3 {
  margin: var(--spacing-two) 0;
}

#display-question h4 {
  margin-bottom: auto;
}

/*   Modules   */

.module-container {
  margin: 0;
  padding: var(--spacing-eight) var(--spacing-four);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  min-height: 35vh;
  min-width: 80vw;
  background-color: var(--main-color);
  color: var(--secondary-color);
  box-shadow: inset 5px 5px 1px var(--main-color),
    inset -5px -5px 1px var(--main-color),
    inset 7px 7px 1px var(--secondary-color),
    inset -7px -7px 1px var(--secondary-color), 0 0 0 1px var(--color-shadow);
  z-index: 1;
}

.close-module-btn {
  margin-top: auto;
}

#result-module * {
  margin: var(--spacing-four) auto;
  text-align: center;
}

.option-item {
  display: flex;
  width: 100%;
  margin-top: var(--spacing-four);
  align-self: flex-start;
}

.option-item:nth-child(4) {
  margin-bottom: var(--spacing-four);
}

.option-label {
  min-width: 4.6rem;
}

.option-btn {
  margin: 0 var(--spacing-two);
  margin-left: auto;
  padding: var(--spacing-one);
  min-width: 4rem;
  transition: 0.2s;
}

.option-btn:hover {
  box-shadow: inset 0 2rem 0 var(--color-choice-lightbg);
}

.list-content-container {
  max-height: 55vh;
  overflow-y: auto;
  margin: auto;
  padding: var(--spacing-two) var(--spacing-six);
}

.list-content-scroll {
  overflow: hidden;
}

.option-list-item {
  margin: var(--spacing-two) 0;
  text-align: center;
}

#amount-option {
  background-color: var(--main-color);
  color: var(--secondary-color);
  outline: none;
  border-style: none;
  max-width: 3rem;
  border-bottom: 1px solid var(--secondary-color);
  text-align: center;
}

#amount-option::placeholder {
  color: var(--secondary-color);
}

/*   Special classes   */

.last-child-hidden:last-child {
  display: none;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  color: var(--color-choice-darkbg);
}

.selected {
  color: var(--color-choice-darkbg);
}

/*   Media Queries   */

@media screen and (min-width: 760px) {
  .btn {
    font-size: var(--font-size-medium);
  }

  nav {
    min-width: 0;
    max-width: 60ch;
    margin: auto;
  }

  #display-alternatives *,
  #display-question * {
    max-width: 60ch;
  }

  #display-question {
    font-size: var(--font-size-medium);
  }

  #info-container,
  .choice {
    font-size: var(--font-size-large);
  }
}

@media screen and (min-width: 900px) {
  body {
  }
  #root {
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
  }
  #app {
    border-radius: 5px;
    overflow: hidden;
    margin: 2vh auto;
    min-height: 0;
    max-width: 800px;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.7);
  }
}
